<div class="container mt-5" >
  <alert
     title="Carefully insert products"
     subtitle="Caution"
     color="alert alert-warning"
   ></alert>
  <h2 style="text-align: center;" >{{ header }}</h2>
  <form [formGroup]= "productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="">Id</label><br>
      <input formControlName="id" type="text" class="form-control" placeholder="Enter id">
      <br>
    </div>
    <div class="form-group">
      <label for="">Name</label><br>
      <input formControlName="name" type="text" class="form-control" placeholder="Enter name">
      <br>
    </div>
    <div class="form-group">
      <label for="">Price</label><br>
      <input formControlName="price" type="text" class="form-control" placeholder="Enter price">
      <br>
    </div>
    <div class="form-group">
      <label for="">Quantity</label><br>
      <input formControlName="quantity" type="text" class="form-control" placeholder="Enter quantity">
      <br>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
