<div style="text-align: center;">
  <h1>Product Lists</h1>
</div>
<div class = "m-5" style="text-align: center;">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table table-dark">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>${{ product.price }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      </tbody>
    </table>
</div>
